
.sidebar-admin {
  width: 250px;
  border-radius: 8px;
  background-color: #1976D2; 
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}


.sidebar-admin .section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}


.sidebar-admin .sidebar-item {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #1565C0; 
  color: #ffffff;
  margin-bottom: 10px;
}


.sidebar-admin .sidebar-item:hover {
  background-color: #1E88E5;
}

.sidebar-admin .sidebar-item.active {
  background-color: #42A5F5;
  color: #ffffff;
}


.sidebar-admin .submenu {
  padding-left: 20px; 
  margin-top: 5px;
   
}


.sidebar-admin .submenu.active {
  display: block;
}


.sidebar-admin .submenu a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px; 
}


.sidebar-admin .submenu a:hover {
  background-color: #64B5F6;
}


.sidebar-admin .submenu-item {
  padding-left: 20px; 
  cursor: pointer;
}


.sidebar-admin .submenu-item:hover {
  background-color: #1E88E5;
}


.sidebar-admin .submenu-subchildren a {
  padding-left: 40px; 
}
